body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #010101;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.25vh;
  line-height: 3.25vh;
  font-weight: 600;
}

p {
  margin-bottom: 0px;
  font-size: 2vh;
  line-height: 3vh;
}

a {
  text-decoration: none;
}

.nav-section {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 16vh;
  padding: 1vh 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 98%, 0.7);
}

.nav-section.mobile {
  display: none;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
  height: 40%;
  padding: 1vh 2vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5000px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #010101;
  font-size: 2vh;
  line-height: 2vh;
  font-weight: 600;
  text-align: center;
}

.nav-link:hover {
  background-color: #94aba1;
  color: #f5f5f5;
  text-decoration: none;
}

.nav-link.w--current {
  background-color: #d64729;
  color: #fafafa;
}

.nav-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
  height: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  position: relative;
  z-index: 999;
  width: 100%;
  color: #010101;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 84vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding-right: 1vw;
  padding-left: 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #010101;
  text-align: right;
}

.hero-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-spacer {
  height: 16vh;
}

.hero-h1 {
  margin-bottom: 5vh;
  font-size: 4vh;
  line-height: 5vh;
}

.hero-h2 {
  margin-bottom: 5vh;
  font-size: 2.5vh;
  line-height: 3.5vh;
  font-weight: 600;
}

.hero-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vh;
  padding: 1.5vh 2vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5vh;
  border-color: #d64729;
  border-radius: 5000px;
  background-color: #d64729;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #f5f5f5;
  font-size: 3vh;
  line-height: 3vh;
  font-weight: 600;
  text-align: center;
}

.hero-button:hover {
  background-color: #f5f5f5;
  color: #d64729;
}

.hero-button.orange {
  border-color: #fafafa;
  background-color: #fafafa;
  color: #d64729;
}

.hero-button.orange:hover {
  background-color: #d64729;
  color: #fafafa;
}

.overview-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10vh 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #94aba1;
  color: #010101;
  font-size: 2vh;
  line-height: 3vh;
  font-weight: 600;
}

.overview-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  padding: 5vh 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5vh;
  background-color: #fafafa;
  text-align: center;
}

.overview-card.wide {
  width: 45%;
}

.section-heading {
  margin-top: 0vh;
  margin-bottom: 10vh;
  font-size: 4vh;
  line-height: 5vh;
}

.overview-card-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.overview-button {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1vh 2vw;
  float: right;
  border-style: solid;
  border-width: 0.25vh;
  border-color: #d64729;
  border-radius: 5000px;
  background-color: #d64729;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fafafa;
  font-size: 2vh;
  line-height: 2vh;
}

.overview-button:hover {
  background-color: #fafafa;
  color: #d64729;
}

.overview-heading {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3vh;
  line-height: 3vh;
  text-align: center;
}

.overview-heading.spaced {
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  line-height: 3.5vh;
}

.overview-heading.spaced._2 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.overview-icon {
  height: 20vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.overview-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6dab3;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.banner.orange {
  background-color: #d64729;
  color: #fafafa;
}

.banner-section-heading {
  margin-top: 0px;
  margin-bottom: 2vh;
  font-size: 3vh;
  line-height: 3vh;
}

.banner-section-heading.staff {
  margin-bottom: 0vh;
}

.map-section-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.map-heading {
  margin-top: 0vh;
  margin-bottom: 1vh;
  font-size: 3vh;
  line-height: 3vh;
}

.map-text {
  font-size: 2vh;
  line-height: 3vh;
}

.footer-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #52362a;
  color: #f5f5f5;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-link {
  margin-left: 1vw;
  color: #f5f5f5;
  font-size: 2vh;
  line-height: 2.5vh;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link.heading {
  margin-left: 0vw;
  font-weight: 600;
  text-transform: uppercase;
}

.legal-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #010101;
  color: #f5f5f5;
}

.legal-left {
  font-size: 1.5vh;
  line-height: 2.25vh;
}

.legal-right {
  font-size: 1.5vh;
  line-height: 2.25vh;
  text-align: center;
}

.legal-link {
  color: #f5f5f5;
}

.legal-link:hover {
  text-decoration: underline;
}

.legal-link:visited {
  color: #999;
}

.hero2-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5vh 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero2-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.hero2-right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2vh;
  line-height: 2.5vh;
}

.hero2-heading {
  margin-bottom: 1vh;
  font-size: 4vh;
  line-height: 4.5vh;
}

.content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #94aba1;
}

.content-section.staff {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-section.cream {
  background-color: #f6dab3;
}

.content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10vh 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 5vw;
  background-color: #fafafa;
}

.content-container.rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
}

.content-container.staff {
  width: 40%;
  margin-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #010101;
}

.content-container.staff:hover {
  background-color: #d64729;
  color: #f5f5f5;
}

.content-container.staff.none {
  margin-bottom: 0vh;
}

.content-container.vert {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5vh;
  line-height: 3vh;
  text-align: center;
}

.content-container.mh {
  margin-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.content-container.vert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-container.story {
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.content-container.gallery {
  padding-right: 0vw;
  padding-bottom: 0vh;
  padding-left: 0vw;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-container.serv {
  margin-bottom: 10vh;
}

.content-container.small {
  padding-right: 0vw;
  padding-bottom: 0vh;
  padding-left: 0vw;
}

.content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.content-left.contact {
  width: 50%;
  text-align: center;
}

.content-left.staff {
  width: 100%;
  margin-bottom: 5vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5vh;
  line-height: 3vh;
  text-align: center;
}

.content-right.contact {
  width: 100%;
  margin-bottom: 10vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.content-right.staff {
  width: 100%;
}

.content-heading {
  margin-bottom: 5vh;
  font-size: 3vh;
  line-height: 3.5vh;
}

.content-heading.staff {
  margin-bottom: 0vh;
}

.service-image {
  height: 25vh;
}

.content-text {
  margin-bottom: 5vh;
  font-size: 2vh;
  line-height: 3vh;
}

.content-text.staff {
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.hero2-image {
  position: relative;
  z-index: 1;
  height: 45vh;
}

.facebook {
  position: fixed;
  left: auto;
  top: auto;
  right: 5vw;
  bottom: 5vh;
  z-index: 9999;
}

.section-details {
  margin-bottom: 5vh;
  font-weight: 400;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.circle {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: -8vh;
  z-index: 0;
  width: 50vh;
  height: 50vh;
  border-radius: 100%;
  background-color: #94aba1;
}

.dog-picture {
  width: 30%;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  border-width: 0.5vh;
  border-color: #d64729;
  border-radius: 5vh;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.disclaimer {
  font-size: 1vh;
}

.modal-container {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 90%;
  padding: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  font-size: 2vh;
  line-height: 2.5vh;
  text-align: center;
}

.modal-heading {
  font-size: 5vh;
  line-height: 5vh;
  font-weight: 600;
}

.modal-text {
  text-align: center;
}

.modal-image {
  height: 40%;
}

.close-modal {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 2vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #010101;
  font-size: 4vh;
  line-height: 4vh;
  text-decoration: none;
}

.close-modal:hover {
  border-style: solid;
  border-width: 0.5vh;
  border-color: #d64729;
  color: #d64729;
}

.spacer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.space-div {
  margin-bottom: 5vh;
}

.paragraph {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .nav-section {
    display: none;
  }
  .nav-section.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link.mobile {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    font-size: 30px;
  }
  .nav-link.menu-button {
    width: 25%;
    height: 8vh;
    background-color: #d64729;
    color: #f5f5f5;
    font-size: 3vh;
    line-height: 3vh;
  }
  .nav-logo {
    width: 17%;
  }
  .nav-menu-mobile {
    position: fixed;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #94aba1;
  }
  .menu-close {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2vw 4vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #010101;
    font-size: 10vh;
    line-height: 10vh;
    cursor: pointer;
  }
  .hero-section {
    height: auto;
    padding-top: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .hero-left {
    width: 100%;
    margin-top: 10vh;
    padding-right: 10vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .hero-right {
    width: 80%;
  }
  .hero-h2 {
    font-size: 2vh;
    line-height: 2.5vh;
  }
  .hero-button {
    font-size: 2vh;
    line-height: 2vh;
  }
  .overview-section {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .overview-card {
    width: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .overview-card.wide {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-heading {
    font-size: 3vh;
    line-height: 4vh;
  }
  .overview-card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .overview-button {
    padding: 2vh 4vw;
    font-size: 3vh;
    line-height: 3vh;
  }
  .overview-info {
    width: 100%;
  }
  .map-section {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .banner {
    text-align: center;
  }
  .banner.forms {
    display: none;
  }
  .hero2-section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero2-left {
    width: 80%;
    margin-top: 5vh;
    padding-right: 0vw;
    padding-left: 0vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .hero2-right {
    width: 80%;
  }
  .hero2-heading {
    margin-bottom: 0vh;
  }
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-container.rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-container.staff {
    width: 100%;
  }
  .content-container.mh {
    text-align: center;
  }
  .content-left {
    width: 100%;
    margin-bottom: 5vh;
  }
  .content-left.contact {
    width: 100%;
    margin-bottom: 10vh;
    padding-right: 0vw;
  }
  .content-right {
    width: 100%;
  }
  .content-right.contact {
    width: 100%;
    padding-left: 0vw;
    text-align: center;
  }
  .spacer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-link.menu-button {
    width: 22%;
  }
  .nav-logo {
    width: 22%;
  }
  .hero-left {
    width: 100%;
    padding: 5vh 5vw 1vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .hero-right {
    width: 100%;
  }
  .overview-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .overview-info {
    width: 90%;
  }
  .map-section-left {
    width: 100%;
  }
  .footer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-column {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-column.mobile {
    margin-bottom: 0vh;
  }
  .footer-column.mobile2 {
    margin-top: 0vh;
  }
  .footer-link {
    margin-left: 0vw;
  }
  .footer-link.heading.hide {
    display: none;
  }
  .hero2-section {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }
  .hero2-left {
    width: 100%;
    margin-top: 1vh;
  }
  .hero2-right {
    width: 100%;
    margin-bottom: 1vh;
  }
  .hero2-heading {
    text-align: center;
  }
  .content-left {
    width: 100%;
  }
  .content-right {
    width: 100%;
  }
  .hero-image {
    margin-bottom: 1vh;
  }
}

@media screen and (max-width: 479px) {
  .nav-link.menu-button {
    width: 40%;
  }
  .nav-logo {
    width: 36%;
  }
  .hero-left {
    width: 100%;
    padding-left: 5vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-right {
    width: 100%;
  }
  .footer-column {
    width: 100%;
  }
}

